.ui-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius-md);
  border: 1px solid #ccc;
  font-size: 1rem;
}

.ui-input:focus {
  outline: 2px solid var(--color-secondary);
}

.ui-label {
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

.ui-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}